<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="AboutUs.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <title>About Us</title>
</head>
<body>
    <header>
        <div class="interface">
            <div class="logo">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
                </a>
            </div>
    </header>

    <section class="people-section">
        <div class="content">
            <h1>Our Team</h1>
            <h2>Punyabhalan - Gabriel - Juliana - Vasileia</h2>
            <p>Meet our skilled team of developers.
                We are four students from Luxembourg Tech School who collaborated to explore the cutting-edge world of neurotechnology. 
                Together, we developed both the narrative and technological aspects of this Digital Brain experience, 
                examining how brain-computer interfaces are transforming from science fiction into reality. 
                Our project invites visitors to contemplate the profound implications of merging human consciousness 
                with artificial intelligence in today's rapidly evolving technological landscape.</p>
            <button><a href="mailto:contact@techschool.lu">Contact Us</a></button>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/team.jpeg') }}" alt="Our team">
        </div>
    </section>
    </div>
</body>

<footer>
    <div class="footer-content">
        <h3>Digital Brain</h3>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo footer">
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2025 Digital Brain. <a href="https://www.techschool.lu" target="_blank" rel="noopener noreferrer">LUXEMBOURG TECH SCHOOL</a></p>
    </div>
</footer>

</html>