<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-index.css') }}">
    <title>NFC Card</title>
</head>
<body>

    <header>
        <div class="interface">
            <div class="logo">
                <a href="#">
                    <img src="logo.png" alt="Logo">
                </a>
            </div>

        <section class="bottom-header">
            <div class="interface">
                <nav class="menu-header">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li class="drophover"><a href="#">Brain</a>
                            <div class="drop">
                                <a href="#">Stored</a>
                                <a href="#">Trapped</a>
                                <a href="#">Predicted</a>
                                <a href="#">Uploaded</a>
                            </div>
                        </li>
                        <li><a href="#">Reflections</a></li>
                    </ul>
                </nav>
            </div>
        </section>
            <div class="contact">
                <a href="#">
                    <button>Contact</button>
                </a>
            </div>
        </div>
    </header>

    <main>
        <section class="top">
            <div class="interface">
                <div class="flex">
                    <div class="text-top">
                        <h1>Welcome to<span>...</span></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> 
                            sed do eiusmod tempor incididunt ut labore et dolore magna <br>
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation <br>
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        
                        <div class="contact">
                            <a href="#">
                                <button>More information</button>
                            </a>
                        </div>
                    </div>
                    <div class="img-top">
                        <img src="logo.png" alt="logo image for the top of website">
                    </div>
                </div>
            </div>
        </section>

        <div class="rolling">
            <section class="page1">
                <section class="purposes">
                    <div class="interface">
                        <h2 class="titulo"> The <span>Projects</span></h2>
                        <div class="flex">

                            
                            <div class="purposes-box">
                                <i class="bi bi-code-square"></i>
                                <h3>Stored</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                     Sed do eiusmod tempor incididunt ut labore et dolore 
                                     magna aliqua.
                                </p>
                            </div>

                            <div class="purposes-box">
                                <i class="bi bi-person-up"></i>
                                <h3>Trapped</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Sed do eiusmod tempor incididunt ut labore et dolore 
                                    magna aliqua.
                                </p>
                            </div>

                            <div class="purposes-box">
                                <i class="bi bi-phone"></i>
                                <h3>Predicted</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Sed do eiusmod tempor incididunt ut labore et dolore 
                                    magna aliqua.
                                </p>
                            </div>

                            <div class="purposes-box">
                                <i class="bi bi-phone"></i>
                                <h3>Uploaded</h3>
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Sed do eiusmod tempor incididunt ut labore et dolore 
                                    magna aliqua.
                                </p>
                            </div>

                        </div>

                    </div>
                </section>
            
        </div>
    </main>

</body>
</html>